@import "~sanitize.css"
@import "vars.styl"
  @import "header.styl"

body {
  background-color: black;
}

h1 {
  color: white;
}

.hello {
  background-color: yellow ;

  .title {
    color: greenyellow;
  }
}

.box {
  background-color: blue;
  
  h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    }
  }